*{margin: 0;padding: 0;}
*{box-sizing:border-box;}
.token.property{
    color: black;
}
.token.selector{
    color:black;
}
.token.function{
    color:black;
}
#code{
    height: 100vh;
    overflow: hidden;
}
#paper>.content{
    padding :16px;
}